*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
body{
    color:#ededed;
    background-color:black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("me1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width:600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size:20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn-box:hover{
    box-shadow: 0 0 20px #0ef;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:1rem;
}
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 50%;
    border-radius: 8px;
    margin-left: 150px;
}
.about-text p{
    margin-right: 2rem;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.about-text h4{ 
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7;
    margin:5px 0 30px;
}
.about-text h2{ 
    font-size: 60px;
 } 
.about-text h2 span{
    color: #0ef;
} 
section{
    display: flex;
    flex-wrap: wrap;
}
.subtitle{
    font-size: 60px;
    text-align: center;
}
.subtitle span{
    color: #0ef;
} 
.container1{
    text-align: center;
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: -50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 2%;
}
.Technical-bars .bar:first-child{
    margin-top: 5%;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius:10px;
    width: 100%;
    height: 5px;
    background-color: black;
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 90%;
}
.progress-line.javascript span{
    width: 85%;
}
.progress-line.react span{
    width: 80%;
}
.progress-line.mongodb span{
    width: 80%;
}
.progress-line.nodejs span{
    width: 75%;
}
.progress-line.python span{
    width: 90%;
}
.progress-line.C span{
    width: 80%;
}
.progress-line.java span{
    width: 75%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.javascript span::after{
    content: "85%";
}
.progress-line.react span::after{
    content: "80%";
}
.progress-line.mongodb span::after{
    content: "80%";
}
.progress-line.nodejs span::after{
    content: "75%";
}
.progress-line.python span::after{
    content: "90%";
}
.progress-line.C span::after{
    content: "80%";
}
.progress-line.java span::after{
    content: "75%";
}
.progress-line.python span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
}
.main-text{
    padding-top: 100px;
    margin-top: 15%;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15%;
}
.row img{
    width: 95%;
    border-radius: 8px;
    display: block;
}
.two img{
    width: 100%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem; 
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7,85,91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.container{
    background-color: #051129;

}
